<input id="msg">
<button onclick="sendMsg()">Send</button>

<div id="chat"></div>

<script>

const socket = new WebSocket("ws://127.0.0.1:8000/ws/chat/");

socket.onmessage = function(e) {
    const data = JSON.parse(e.data);

    document.getElementById("chat").innerHTML +=
        "<p>" + data.message + "</p>";
};

function sendMsg() {
    const message = document.getElementById("msg").value;

    socket.send(
        JSON.stringify({
            message: message
        })
    );
}

</script>